@import "tailwindcss";

body {
  background-color: white;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
    color: #ededed;
  }
}